@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
}

.bg-main {
  background-color: #fdf6ec;
}

.bg-primary {
    background-color: #3c5d48;
}

.bg-secondary {
    background-color: #5a7f6b;
}

.bg-accent {
    background-color: #d1a37c;
}

.text-primary {
    color: #58B368;
}

.highlight {
  transition: color 0.15s ease;
}

.highlight:hover {
  color: #5a7f6b;
}